@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>ورود به سایت</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="/lib/bootstrap//dist/js/bootstrap.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>ورود</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <a href="/account/externallogin?externalProvider=Google">
                            <span><i class="fab fa-google-plus-square"></i></span>
                        </a>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" placeholder="نام کاربری یا ایمیل">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <input type="password" class="form-control" placeholder="کلمه عبور">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                        </div>
                        <div class="row mr-auto align-items-center remember">
                            <input type="checkbox">مرا به خاطر داشته باش
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="ورود" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        حساب کاربری ندارید ؟<a href="#">ساخت حساب</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">پسورد خود را فراموش کرده اید ؟</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>