@{
    TempData["title"] = "داشبورد";
    TempData["page-title"] = "داشبورد - صفحه اصلی";
}
<div class="x_title">
    <h2>صفحه ساده</h2>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    داشبورد
</div>